logs/*
blob*
_blob*

__pycache__

scripts/.DS_Store
scripts/__pycache__

visualizations/*
!visualizations/
!visualizations/_viz.md
!visualizations/_test_audio_waveform_spectogram

# DF OUTPUTS
df_output/*
df_output/_default.xlsx
df_output/v3_full_kde.csv
!df_output
!df_output/_df_output.md

# PICKLES
pickles/*
!pickles

# NOTEBOOK
!notebook
notebook/__pycache__
notebook/.ipynb_checkpoints
notebook/df_output
notebook/pickles
